@font-face {
    font-family: 'TBCContractica';
    src:  url('./fonts/TBCContractica-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'TBCContractica';
    src:  url('./fonts/TBCContractica-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'TBCContractica';
    src:  url('./fonts/TBCContractica-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'TBCContracticaCAPS';
    src:  url('./fonts/TBCContracticaCAPS-Bold.ttf');
}

body {
    padding: 0;
    margin: 0;
    background-color: #2b2b2b;
    font-family: TBCContractica, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #f4f4f4;
    width: 320px;
    overflow-x: hidden;
}

header {
    background-color: #1a1e1f;
    height: 69px;
    position: fixed;
    top: 0;
    width: 320px;
    transform-origin: top left;
    z-index: 30;
    transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

header.transparent {
    background-color: #222222f2;
}

main {
    transform-origin: top left;
    padding-top: 69px;
}

.learn-more {
    color: #00aef3;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
}

.learn-more:hover {
    color: #f4f4f4;
}

#title {
    height: 217px;
    position: relative;
}

#title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title h1 {
    position: absolute;
    top: 0;
    margin: 50px 20px;
    font-family: TBCContracticaCAPS, Helvetica, sans-serif;
}

#title h1 span:first-child {
    font-size: 24px;
    line-height: 1.6em;
}

#title h1 span:last-child {
    font-size: 22px;
    line-height: 1.6em;
}

#description {
    font-size: 16px;
    line-height: 1.6em;
}

#description p {
    margin: 32px 20px;
}

#description div {
    height: 48px;
    margin-bottom: 33px;
    margin: 0 20px 33px 20px;
    display: flex;
    align-items: center;
}

#courses {
    background-color: #161616;
    display: flex;
    flex-direction: column;
}

#courses h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 20px 20px 26px 20px;
}

#cards {
    margin: 0 20px 44px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card {
    width: 100%;
    border: 1px solid #555555;
    border-radius: 6px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 140px;
    margin-bottom: 26px;
}

.card h3 {
    font-size: 15px;
    font-weight: 400;
    margin: 0 18px 10px 18px;
}

.card p {
    font-size: 14px;
    margin: 0 18px 10px 18px;
}

.details {
    color: #00aeef;
    font-size: 14px;
    margin: 0 18px 20px 18px;
    padding: 12px 0;
}

.details svg {
    width: 16px;
    height: 13px;
    margin-right: 7px;
    position: relative;
    top: 2px;
}

.details a {
    color: #00aeef;
    text-decoration: none;
    transition: 0.5s;
}

.details a:hover {
    color: #0080b0;
}

@media only screen and (max-width: 1079px) {
    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (min-width: 1080px) {
    body {
        width: 100%;
    }

    header {
        width: 100%;
        height: 84px;
    }

    main {
        padding-top: 84px;
    }

    #title {
        height: 352px;
    }

    #title h1 {
        width: 100%;
        margin: 96px 0 0 0;
    }

    #title h1 span {
        display: block;
        width: 980px;
        margin: 0 auto 0 auto;
    }

    #title h1 span:first-child {
        font-size: 42px;
        margin-bottom: 8px;
    }

    #title h1 span:last-child {
        font-size: 34px;
    }

    #description {
        width: 980px;
        margin: 56px auto 43px auto;
        font-size: 28px;
        margin-bottom: 57px;
    }

    #description p {
        margin: 0 0 43px 0;
    }

    #description div {
        margin: 0;
    }

    #description a {
        font-size: 20px;
    }

    #courses h2 {
        width: 980px;
        margin: 34px auto 67px auto;
    }

    #cards {
        width: 980px;
        margin: 0 auto 58px auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px 37px;
    }

    .card {
        width: 300px;
        height: 414px;
        position: relative;
    }

    .card img {
        height: 150px;
        margin-bottom: 34px;
    }

    .card h3 {
        font-size: 18px;
        margin: 0 22px 25px 22px;
        line-height: 1.6em;
    }

    .card p {
        margin: 0 22px;
    }

    .details {
        font-size: 16px;
        margin: 0 22px 21px 22px;
        position: absolute;
        bottom: 0;
    }
}
