@font-face {
    font-family: 'TBCContractica';
    src:  url('./fonts/TBCContractica-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'TBCContractica';
    src:  url('./fonts/TBCContractica-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'TBCContractica';
    src:  url('./fonts/TBCContractica-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'TBCContracticaCAPS';
    src:  url('./fonts/TBCContracticaCAPS-Bold.ttf');
}

body {
    padding: 0;
    margin: 0;
    background-color: #2b2b2b;
    font-family: TBCContractica, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #f4f4f4;
    width: 320px;
    overflow-x: hidden;
}

body.menu-open {
    overflow-y: hidden;
}

header {
    background-color: #1a1e1f;
    height: 69px;
    position: fixed;
    top: 0;
    width: 320px;
    transform-origin: top left;
    z-index: 30;
    transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

header.transparent {
    background-color: #222222f2;
}

header > div {
    width: 280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 130px;
    height: 29px;
    margin: 19px 0 21px 0;
}

.logo img {
    width: 100%;
}

nav a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.5s;
}

nav a.current,
nav a:hover {
    color: #00a3e0;
}

.menu-btn {
    width: 26px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 50;
    cursor: pointer;
}

.menu-btn div {
    height: 3px;
    border-radius: 1.5px;
    background-color: #dbdbdb;
    transition: 0.5s;
    z-index: 50;
}

.menu.x div {
    background-color: #767676;
}

.menu-one {
    width: 13px;
}

.menu-two {
    width: 26px;
}

.menu-three {
    width: 13px;
    align-self: flex-end;
}

.x .menu-one {
    transform-origin: right;
    transform: translate(-9px, 0) rotate(-0.375turn);
}

.x .menu-two {
    transform-origin: center;
    transform: rotate(-0.125turn);
}

.x .menu-three {
    transform-origin: left;
    transform: translate(9px, 0) rotate(-0.375turn);
}

#menu-container {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
}

#menu-container.displayed {
    display: block;
}

.backdrop {
    opacity: 0;
    background-color: #1616169e;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    transition: opacity 0.5s;
}

.expanded .backdrop {
    opacity: 1;
}

.menu {
    width: 200px;
    height: 100vh;
    background-color: #222222;
    position: relative;
    left: 320px;
    transition: 0.5s;
    padding-top: 80px;
    z-index: 50;
}

.expanded .menu {
    left: 120px;
}

.menu nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu nav a {
    line-height: 52px;
    padding-right: 16px;
}

nav.desktop {
    display: none;
    gap: 20px;
}

nav.desktop a {
    padding: 0 15px;
}

#main {
    transform-origin: top left;
}

main {
    padding-top: 69px;
}

.learn-more {
    color: #00aef3;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}

.learn-more:hover {
    color: #f4f4f4;
}

#title {
    height: 217px;
    position: relative;
}

#title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title h1 {
    position: absolute;
    top: 0;
    margin: 50px 20px;
    font-family: TBCContracticaCAPS, Helvetica, sans-serif;
}

#title h1 span:first-child {
    font-size: 24px;
    line-height: 1.6em;
}

#title h1 span:last-child {
    font-size: 22px;
    line-height: 1.6em;
}

#description {
    font-size: 16px;
    line-height: 1.6em;
}

#description p {
    margin: 32px 20px;
}

#description div {
    height: 48px;
    margin-bottom: 33px;
    margin: 0 20px 33px 20px;
    display: flex;
    align-items: center;
}

#courses {
    background-color: #161616;
    display: flex;
    flex-direction: column;
}

#courses h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 20px 20px 26px 20px;
}

#cards {
    margin: 0 20px 44px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card {
    width: 100%;
    border: 1px solid #555555;
    border-radius: 6px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 140px;
    margin-bottom: 26px;
}

.card h3 {
    font-size: 15px;
    font-weight: 400;
    margin: 0 18px 10px 18px;
}

.card p {
    font-size: 14px;
    margin: 0 18px 10px 18px;
}

.details {
    color: #00aeef;
    font-size: 14px;
    font-weight: 500;
    margin: 0 18px 20px 18px;
    padding: 12px 0;
}

.details svg {
    width: 16px;
    height: 13px;
    margin-right: 7px;
    position: relative;
    top: 2px;
}

.details a {
    color: #00aeef;
    text-decoration: none;
    transition: 0.5s;
}

.details a:hover {
    color: #0080b0;
}

#partners {
    background-color: #2b2b2b;
    position: relative;
}

#partners h3 {
    margin: 20px 20px 11px 20px;
    font-size: 18px;
    font-weight: 400;
}

.slider {
    height: 371px;
    width: 320px;
    overflow: hidden;
}

.slides-container {
    width: fit-content;
    display: flex;
}

.slides-container.left {
    transform: translate(-320px);
}

.slides-container.sliding-left {
    transition: transform 0.5s ease-in-out;
    transform: translate(-320px);
}

.slides-container.sliding-right {
    transition: transform 0.5s ease-in-out;
    transform: translate(0);
}

.slide {
    display: none;
    height: 371px;
    width: 320px;
    flex-direction: column;
    align-items: center;
}

.slide.active {
    display: flex;
}

.slide.right,
.slide.left {
    display: flex;
}

.slide img {
    display: block;
}

#usaid {
    width: 219px;
    margin: 40px 0 45px 0;
}

#spaceint {
    width: 200px;
    margin-bottom: 42px;
}

#tnet {
    width: 250px;
}

#tegeta {
    width: 180px;
    margin: 64px 0 41px 0;
}

#spectre {
    width: 131px;
    margin-bottom: 42px;
}

#tbcleasing {
    width: 220px;
}

#ufc {
    width: 232px;
    margin-top: 123px;
}

.slide-btns {
    display: flex;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%);
}

.slide-btn {
    width: 6px;
    height: 6px;
    margin: 0 7.5px;
    border-radius: 50%;
    background-color: #e8e6e6;
    cursor: pointer;
}

.slide-btn.active {
    background-color: #ffffff;
}

.slider-arrows {
    display: none;
}

#faq {
    background-color: #161616;
    padding: 50px 25px 50px 25px;
}

#faq h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.question {
    width: 100%;
    max-height: 80px;
    border-bottom: 1px solid #353131;
    overflow: hidden;
    transition: max-height 2s;
}

.question.expanded {
    max-height: 2000px;
}

.question-text {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question-text h4 {
    font-size: 16px;
    font-weight: 400;
}

.question-text svg {
    flex-shrink: 0;
}

.question.expanded svg {
    transform: rotate(0.5turn);
}

.answer {
    padding: 0 2px 30px 2px;
}

.answer p {
    padding: 2px 0 3px 0;
    margin: 0;
    font-size: 14px;
    line-height: 2em;
}

.answer p.indent {
    margin-left: 21px;
}

.br {
    height: 32px;
}

.all-questions {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #1a1e1f;
    padding: 32px 37px 44px 37px;
}

footer img.logo {
    display: block;
    width: 104px;
    height: 30px;
    margin: 0 0 33px 0;
}

footer .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
}

footer .contact {
    display: block;
    width: 109px;
    height: 35px;
    border-radius: 6px;
    background-color: #00aef3;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.5s, background-color 0.5s;
}

footer .contact:hover {
    background-color: #d5d5d5;
    color: #353131;
}

footer .social {
    width: 85px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

footer .social img {
    display: block;
    width: 35px;
    
}

footer .text p {
    font-size: 14px;
    margin: 21px 0 0 0;
}

footer .text a {
    text-decoration: none;
    font-size: 14px;
    color: #f4f4f4;
    transition: color 0.5s;
}

footer .text a:hover {
    color: #aaaaaa;
}

@media only screen and (max-width: 1079px) {
    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (min-width: 1080px) {
    body {
        width: 100%;
    }

    body.menu-open {
        overflow-y: scroll;
    }

    header {
        width: 100%;
        height: 84px;
    }

    header > div {
        width: 980px;
    }

    .logo {
        width: 182px;
        height: 40px;
    }

    .menu-btn {
        display: none;
    }

    #menu-container,
    #menu-container.displayed {
        display: none;
    }

    nav.desktop {
        display: flex;
    }

    main {
        padding-top: 84px;
    }

    #title {
        height: 352px;
    }

    #title h1 {
        width: 100%;
        margin: 96px 0 0 0;
    }

    #title h1 span {
        display: block;
        width: 980px;
        margin: 0 auto 0 auto;
    }

    #title h1 span:first-child {
        font-size: 42px;
        margin-bottom: 8px;
    }

    #title h1 span:last-child {
        font-size: 34px;
    }

    #description {
        width: 980px;
        margin: 56px auto 43px auto;
        font-size: 28px;
        margin-bottom: 57px;
    }

    #description p {
        margin: 0 0 43px 0;
    }

    #description div {
        margin: 0;
    }

    #description a {
        font-size: 20px;
    }

    #courses h2 {
        width: 980px;
        margin: 34px auto 67px auto;
    }

    #cards {
        width: 980px;
        margin: 0 auto 58px auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px 37px;
    }

    .card {
        width: 300px;
        height: 414px;
        position: relative;
    }

    .card img {
        height: 150px;
        margin-bottom: 34px;
    }

    .card h3 {
        font-size: 18px;
        margin: 0 22px 25px 22px;
        line-height: 1.6em;
    }

    .card p {
        margin: 0 22px;
    }

    .details {
        font-size: 16px;
        margin: 0 22px 21px 22px;
        position: absolute;
        bottom: 0;
    }

    #partners h3 {
        width: 980px;
        margin: 34px auto 31px auto;
        font-size: 24px;
    }

    .slider {
        width: 100%;
        height: 224px;
        margin-bottom: 36px;
    }

    .slides-container {
        width: 980px;
        margin: 0 auto;
        display: block;
    }

    .slide {
        position: absolute;
        width: 980px;
        height: 224px;
        flex-direction: row;
        justify-content: space-between;
        transition: 1s;
    }

    .slide.fade {
        display: flex;
        opacity: 0;
    }

    #usaid {
        width: 246px;
        margin: 0;
    }

    #spaceint {
        width: 241px;
        margin: 0;
    }

    #tnet {
        width: 250px;
    }

    #tegeta {
        width: 248px;
        margin: 0 64px 0 0;
    }

    #spectre {
        width: 187px;
        margin: 0;
    }

    #tbcleasing {
        width: 312px;
    }

    #ufc {
        width: 227px;
        margin: 0 auto;
    }

    .slide-btns {
        bottom: 36px;
    }

    .slide-btn {
        margin: 0 6px;
    }

    .slider-arrows {
        display: flex;
        position: absolute;
        width: 100%;
        top: 155.4px;
        justify-content: space-between;
    }

    .slider-arrow {
        width: 18px;
        color: #f4f4f4;
        margin: 0 100px;
        cursor: pointer;
    }

    .slider-arrow.right {
        transform: rotate(0.5turn);
    }

    .slider-arrow:hover {
        color: #767676;
    }

    #faq {
        padding: 105px 25px 80px 25px;
    }

    .faq-container {
        width: 900px;
        margin: 0 auto;
        position: relative;
    }

    #faq h3 {
        font-size: 24px;
    }

    .question-text h4 {
        font-size: 18px;
    }

    .all-questions {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }

    .all-questions .learn-more {
        font-size: 20px;
    }

    footer {
        padding: 64px 0 43px 0;
    }

    footer > div {
        width: 980px;
        margin: 0 auto;
        position: relative;
    }

    footer .contact {
        width: 162px;
        height: 39px;
        font-size: 16px;
    }

    footer .buttons {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 43px;
        position: absolute;
        top: 0;
        right: 0;
    }

    footer .social {
        width: 88px;
        gap: 10px;
    }

    footer .social img {
        width: 39px;
    }

    footer .text {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 56px;
        width: 50%;
    }

    footer .text p {
        margin: 0;
    }
}
